@model IEnumerable<MoneyClip.Models.Income>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layouts/_Master.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Incomes")

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Incomes", new { id = item.IncomeID }, null) | 
                    @Html.ActionLink("Delete", "Delete", "Incomes", new { id = item.IncomeID }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
